

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !\.(jpg|jpeg|gif|png|css|js|pl|txt)$
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond $1 !^(index\.php|images|robots\.txt)
RewriteRule ^(.*)$ /eclat/index.php/$1 [L]