div.autocompletion{  
  margin-bottom:0px;
}
div.autocompletion input{
  
}
div.autocompletion select{
  visibility: hidden;
  height: 220px;
  position: absolute;
  z-index: 1;
}

/*  margin:18px 0 0 -267px;*/