body>#Page{
    font-size: small;
}

#Client{
    padding: 1%;
    margin-bottom: 20px;
}

#Articles table{
    width: 100%;
}
#Commande{
    margin-bottom: 20px;
}
#Commandes table{
    width: 100%;
    
}



@media print{
    .nepasimprimer,
    .info,
    .error,
    .valid,
    input[type='button'],
    input[type='submit'],
    #Footer,
    #MainNavigation{
        display: none;
    }
    a[href]:after {
    content: none !important;
  }
}
