/* #################################################################################################### */
/* WYSIWYG  */
/* #################################################################################################### */
.left {float:left;}
.right {float:right;}

.left p, .left span, .left div {margin:10px}
.right p, .right span, .right div {margin:10px;}

.clearFloat {float:none;}

.widthThird {display:block; width:33%;}
.widthQuarter {display:block; width:25%;}
.widthHalf {display:block; width:50%;}

.color_BrightGrey {color:#CCC;}
.color_DarkGrey {color:#999;}
.color_BrightOrange {color:#de710f;}
.color_DarkOrange {color:#e85b28;}
.color_BrightBlue {color:#285ba3;}
.color_DarkBlue {color:#1e2764;}

.bgColor_BrightGrey {display:block; background:/*#EAE7E7*/#F3F3F3 /*url(../img/degrade_gris.png) repeat-y 0 0*/; border:1px solid #e3e3e3; -ms-border-radius: 5px; -o-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding:14px 14px 9px; zoom: 1; margin-bottom:2px;}
.bgColor_BrightOrange {display:block; background:#de710f /*url(../img/degrade_orange.png) repeat-y 0 0*/; border:1px solid #de710f; -ms-border-radius: 5px; -o-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding:14px 14px 9px; zoom: 1; margin-bottom:2px;}
.bgColor_BrightBlue {display:block; background:#285ba3 /*url(../img/degrade_bleu.png) repeat-y 0 0*/; border:1px solid #285ba3; -ms-border-radius: 5px; -o-border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; padding:14px 14px 9px; color:#FFF; zoom: 1; margin-bottom:2px;}

.list_OrangeBullet,
.list_BlueBullet,
.list_BlueArrow { list-style: outside; margin-left:0; }
.list_OrangeBullet {list-style-image:url(../img/t1_bullet_orange.png) !important; padding-left:12px !important; _padding-left:17px !important;}
.list_OrangeBullet {!list-style-image:url(../img/t1_bullet_orange_ie.png) !important; !padding-left:14px !important; !margin-left: 0px !important;}
.list_BlueBullet {list-style-image:url(../img/t1_bullet_blue.png); padding-left:12px;}
.list_BlueBullet {!list-style-image:url(../img/t1_bullet_blue_ie.png); !padding-left:14px;}

.list_BlueArrow {list-style-image:url("../img/list-arrow-bg.png"); padding-left:14px;}

.list_OrangeBullet li, .list_BlueBullet li, .list_BlueArrow li {margin:4px 0;}
.list_OrangeBullet li a, .list_BlueBullet li a, .list_BlueArrow li a { text-decoration: none; }

.table_trAlt {background-color:#f8f8f8;}

.font_SizeUp {font-size:larger;}
.font_SizeDown {font-size:.75em/*smaller*/;}

.bhcLeft { float: left; margin-right: 16px; }
.bhcLeft2 { float: left; margin-left: 70px; }
.bhcRight { float: right; }
.bhcRight2 { float: right; margin-right: 70px; }

.bhcHalf { width: 302px; }
.bhcThird { width: 196px; }
.bhcTwoThird { width: 408px; }
.bhcOption { width: 196px; text-align:center; margin: 0 0 0 0;float: left;}


div.fullWidth .bhcHalf { width: 49%; }
div.fullWidth .bhcThird { width: 32%; }
.fullWidth hr { width:100%; float:left }
.fullWidth .boxHeaderContent{ margin-bottom:0 }
.fullWidth h3 { clear:left }

.bhcBlue { }
.bhcBrightBlue { }
.bhcOrange { }

.titleBgDegBlue {height:22px; background: url(../img/img_cart_help.png) 0px 0px no-repeat; padding:2px 0 0 6px; font-size:1.2em; margin:14px 0; color:#FFF;}
